main {
  .posts {
    margin-bottom: 2rem;

    .postContainer {
      margin-bottom: 2rem;

      .postHeader {
        h2 {
          font-size: 1.75rem;
          color: var(--white);
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1.15rem;
          color: var(--gray-200);
        }

        margin-bottom: 1rem;
      }
    }
  }
}

.loadMorePosts {
  font-size: 1.15rem;
  color: var(--pink-500);
  font-weight: bold;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
