main {
  .posts {
    margin-bottom: 2rem;

    .postContainer {
      margin-bottom: 2rem;

      .postHeader {
        h2 {
          color: var(--white);
          margin-bottom: 0.5rem;
        }

        p {
          color: var(--gray-200);
        }

        margin-bottom: 1rem;
      }

      .postFooter {
        display: flex;
        align-items: center;
        gap: 1rem;

        span {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.25rem;

          color: var(--gray-400);
        }
      }
    }
  }
}

.loadMorePosts {
  font-size: 1.15rem;
  color: var(--pink-500);
  font-weight: bold;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
