.imageContainer {
  width: 100%;
  height: 400px;
  position: relative;

  margin-bottom: 4rem;
}

.postContent {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  & > div {
    margin-bottom: 2rem;
  }

  .postSection {
    h2 {
      margin-bottom: 2rem;
    }

    .postBody {
      line-height: 24px;
    }
  }
}
